.element__description {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* width: calc(100% - 38px); */
  width: 240px;
  /* padding-left: 3px; */
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}